.list {
  display: grid;
  list-style-type: none;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  grid-gap: 5px;
  margin: auto;
  padding: 0;
  width: 100%;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: var(--primary-color);
  }

  @media only screen and (min-width: 300px) {
    justify-content: flex-start;
  }

  li {
    background: rgba(0, 0, 0, 0.85);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 2px;
    min-width: 100%;
  }
}
