* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255, 157, 0);
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  height: 100%;
}

#__next {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  min-height: 100%;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
  background: black;
  border: 1px solid orange;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 10px;
  font-size: 1.2rem;
}

p {
  margin: 2px;
}

a {
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.c-title {
  padding: 10px;
  font-size: 18px;
  margin: 0;
}

a:hover,
a:active,
.active-link {
  color: var(--primary-color);
}

.table-container {
  display: block;
  overflow-y: auto;
  max-height: 70vh;
  width: fit-content;
  margin: auto;
}

table {
  background: black;
  border-collapse: collapse;
  margin: auto;

  th,
  td {
    padding: 10px 25px;
    border: 1px solid var(--primary-color);
  }
}

.black {
  color: black;
}

.flex {
  display: flex;
}

.expand {
  flex: 1;
}
