@import "variables";

#root {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  min-height: 100%;
  max-width: 1920px;
  background: url("./App.background.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

.app-header {
  background-color: black;
  position: sticky;
}

.app-main {
  max-width: 1100px;
  padding: 15px;
  margin: 0 auto;
  flex: 1;
}

.app-footer {
  background-color: rgba(0, 0, 0, 0.959);
  line-height: 50px;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
}

a {
  color: white;
}

a:hover,
a:active,
.active-link {
  color: $main-color;
}

.home-summary {
  td {
    min-width: 200px;
  }
}

table {
  background: black;
  border-collapse: collapse;

  th,
  td {
    padding: 7px 20px;
    border: 1px solid $border-color;
  }
}

.card {
  border: 1px solid $border-color;
  background: #000000dd;
  display: inline-block;
  min-width: 255px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 7px;

  a {
    color: orange;
  }
}

.card.title {
  padding: 10px;
  font-size: 18px;
}

.list-item {
  display: flex;
  padding: 4px;
}

.list-item-no {
  padding: 6px;
  display: inline-block;
}

.black {
  color: black;
}

h1 {
  color: black;
  text-decoration: underline;
  text-shadow: 1px 1px $main-color;
}

.app-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
  }
  li {
    display: inline-block;
    margin: 10px;
  }
}

.flex {
  display: flex;
}

.expand {
  flex: 1;
}
